* {
    margin: 0;
    padding: 0;
}

body#my-body {
    overflow: hidden;
}

.content {
    width: 100vw;
    /* height: 100vh !important; */
    overflow: hidden;
    position: relative;
}

.bg {
    width: 100%;
    display: block;
}

.bg-2 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4%;
    margin: auto;
    width: 28%;
    display: block;
    z-index: 1;
}

.bg-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    z-index: 2;
}


.popup-button {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: transparent;
    width: 16%;
    height: 12%;
    cursor: pointer;
    outline: 0;
    border: 0;
    z-index: 3;
    background-image: url(../img/index_popup_bg.gif);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 103%;
}



.popup-button-1 {
    top: 8%;
    left: 17.5%;
    background-position: -4%;
}

.popup-button-2 {
    top: 24%;
    left: 17.5%;
    background-position: -4%;
}

.popup-button-3 {
    top: 40%;
    left: 17.5%;
    background-position: -4%;
}

.popup-button-4 {
    top: 55%;
    left: 17.5%;
    background-position: -4%;
}

.popup-button-5 {
    top: 72%;
    left: 17.5%;
    background-position: -4%;
}



.popup-button-6 {
    top: 11%;
    left: 65%;
}

.popup-button-7 {
    top: 30%;
    left: 65%;
}

.popup-button-8 {
    top: 49%;
    left: 65%;
}

.popup-button-9 {
    top: 68%;
    left: 65%;
}


.swal2-popup {
    padding: 0;
    background: transparent;
}

.swal2-popup img {
    margin: 0;
    display: block;
    width: 100%;
}

.nav {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 3;
}

.nav>button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.nav>img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50px;
    overflow: hidden;
}